JWT tokens fail to load when not padded (as specced by RFC7515)

_load_oid_token() currently doesn't support in-the-wild JWT tokens, which expect to be unpadded base64. https://www.rfc-editor.org/rfc/rfc7515.txt

```
   Base64url Encoding
      Base64 encoding using the URL- and filename-safe character set
      defined in Section 5 of RFC 4648 [RFC4648], with all trailing '='
      characters omitted (as permitted by Section 3.2) and without the
      inclusion of any line breaks, whitespace, or other additional
      characters.  Note that the base64url encoding of the empty octet
      sequence is the empty string.  (See Appendix C for notes on
      implementing base64url encoding without padding.)
```

to fix, https://github.com/olitheolix/aiokubernetes/blob/master/aiokubernetes/config/kube_config.py#L233 should look more like

```
jwt_data = parts[1]
jwt_data += '=' * (4 - len(jwt_data) % 4)
jwt_attributes = json.loads(base64.b64decode(jwt_data).decode('utf-8'))
```

Would PR this but it seems to have more implications in test than I have a jiffy fix for atm, so posting an issue for posterity


I see now that this should be in base repo